.Modal {
  display: absolute;
  height: 700px;
  width: 600px;
  top: 90px;
  left: 500px;
 
}

.modal-header {
  height: 100%;
  color: rgb(199, 159, 28);
  background-color: teal;
  margin-top: 0px;
}
.modal-body {
  height: 100%;
  color: rgb(199, 159, 28);
  background-color: teal;
  margin-top: 0px;
}
input {
  margin-top: 10px;

  width: 270px;
  height: 30px;
  
}
.close{
  height: 40opx;
  width: 100px;
  background-color: #e98363;
}



.adde {
  height: 20opx;
  width: 300px;

  background-color:rgb(199, 190, 62);
  border: 3px solid rgb(0, 153, 255);
}
