h1 {
  color: white;
}

.add{
  border-radius: 50%;
  background-color: rgb(236, 233, 223);
  color: rgb(199, 162, 42);
  border:5px solid rgb(192, 146, 48);
  font-size: 30px;
  margin-left: 500px;
  margin-top: 50px;
}

.btn-card {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}




.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.card {
  margin-top: 30px;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  text-align: center;
}
.card img {
  margin-top: 10px;
  margin-left: 40px;
  height: 200px;
  width: 300px;
  border-radius: 5px;
}

.card p {
  margin-top: -10px;
}

.title {
  margin-top: 20px;
  margin-left: 500px;
  color: rgb(206, 152, 37);
}
.favori{
  border-radius: 50%;
  background-color: transparent;
  border:3px solid red;
}
.detail{
  background-color: teal;
  border: 3px solid rgb(216, 188, 64);
  font-family: fantasy;
  color: aquamarine;
  border-radius:7%;
  font-size: 20px;
}