.App {
  width: 100%;
  background-size: cover;
  height: 1500px;
 
}
.zone-recherche {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.recherchezone {
  margin-top: 30px;

  height: 30px;
  width: 300px;
  border-color: 3px solid rgb(214, 177, 75);
  border-radius: 5px;
  margin-left: 20px;
}
.recherchezone:focus {
  border-color: rgb(59, 3, 14);
}

.rating {
  margin-top: 30px;
}
.etoile1 {
  color: yellow;
}
.etoile {
  color: black;
}
.etoile:hover {
  color: yellow;
}
